{{template "base" .}}

{{define "content"}}
  
  <div class="container">

    <div class="row">
      <div class="col">
        <img src="/static/images/generals-quarters.png"
             class="img-fluid img-thumbnail room-img mx-auto d-block" 
             alt="room-image" />
      </div>
    </div>


    <div class="row">
      <div class="col">
        <h1 class="text-center m-4">Generals Quoters</h1>
        <p>
          Your home away from home, set on the majestic waters of the Atlantic Ocean,
          this will be a vacation to remember.
        </p>
      </div>
    </div>

    <div class="row">

      Your home away from home, set on the majestic waters of the Atlantic Ocean,
      this will be a vacation to remember.
      Your home away from home, set on the majestic waters of the Atlantic Ocean,
      this will be a vacation to remember.
      Your home away from home, set on the majestic waters of the Atlantic Ocean,
      this will be a vacation to remember.
      Your home away from home, set on the majestic waters of the Atlantic Ocean,
      this will be a vacation to remember.
      Your home away from home, set on the majestic waters of the Atlantic Ocean,
      this will be a vacation to remember.
      Your home away from home, set on the majestic waters of the Atlantic Ocean,
      this will be a vacation to remember.
      Your home away from home, set on the majestic waters of the Atlantic Ocean,
      this will be a vacation to remember.
      Your home away from home, set on the majestic waters of the Atlantic Ocean,
      this will be a vacation to remember.
      Your home away from home, set on the majestic waters of the Atlantic Ocean,
      this will be a vacation to remember.

    </div>

    <div class="row mt-3">

      <div class="col text-center">
        <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
      </div>

    </div>

  </div>


{{end}}

{{define "js"}}
  <script>
    document.getElementById("check-availability-button").addEventListener("click", () => {
      
      let html = `
      <form autocomplete="off" id="check-availability-form" action="" method="POST" novalidate class="needs-validation search-form search-form">
        <div class="row">
          <div class="col">
            <div class="row" id="reservations-date-modals">
                <div class="col d-line p-4 shadow-none">
                  <input autocompleate="false" disabled required type="text" class="form-control" name="start" id="start" placeholder="Arrival">
                </div>
                <div class="col d-line p-4 shadow-none">
                  <input autocompleate="false" disabled required type="text" class="form-control" name="end" id="end" placeholder="Departure">
                </div>
            </div>
          </div>
        </div>
      </form>`;

      attention.custom({msg: html, title: "Choose your dates"})
    });
  </script>
{{end}}